---
import Cards from "../components/Cards.astro";
import { supabase } from "../lib/supabase";

// 1. Fetch de datos desde el servidor (Build time o Server time)
const { data: links, error } = await supabase
  .from('links')
  .select('*')
  .eq('is_public_link', true); // Solo los públicos

if (error) console.error("Error fetching links:", error);
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Link Hub</title>
	</head>
	<body class="bg-slate-900 text-white min-h-screen p-10">

		<div class="max-w-2xl mx-auto grid gap-4">
			{links?.map((link) => (
				<Cards title={link.name_link} />
			))}
            {links?.length === 0 && <p class="text-center text-slate-500">No hay links aún.</p>}
		</div>
		
	</body>
</html>